@import './metronic_v4.7.5/sass/bootstrap.scss';
@import './metronic_v4.7.5/sass/layouts/layout5/layout.scss';
@import './metronic_v4.7.5/sass/layouts/layout5/custom.scss';
@import './metronic_v4.7.5/sass/global/components.scss';
@import './metronic_v4.7.5/sass/global/plugins.scss';
@import './metronic_v4.7.5/sass/pages/login-2.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');


.login {
  background: transparent;
  margin-top: 150px;

  .content {
    .forget-form {
      display: block;
    }
    .form-control {
      background-color: #fff;
      border: 1px solid #ddd;
      color: #444;
      @include placeholder(#aaa);
    }
  }

  .btn {
    color: #fff;
    background-color: #009dc7 !important;
    border: 1px solid #72a9cc !important;
  }
}

.page-header {
  .navbar {
    .topbar-actions {
      .btn-group-img {
         .btn > span.label-danger {
           color: #fff;
         }
      }
    }
  }
}

.dropdown-menu-v2 {
  padding: 10px 0;
}

.user-image {
  padding: 0 10px;
  font-size: 24px !important;
  color: white;
  position: relative;
  top: 5px;
}

.in-portlet-large-btn {
  padding: 7px 12px 6px !important;
}

.breadcrumbs .breadcrumb > li {
  text-transform: uppercase;
  color: #777;
  a {
    color: inherit;
  }
}

.mr10 {
  margin-right: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.text-align-center {
  text-align: center !important;
}
